/* npx tailwindcss -i ./src/_App.css -o ./src/css/App.css --watch */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
[x-cloak] { display: none !important; }

@layer components {
    .container {
        max-width: 1024px;
    }
    @media screen and (max-width: 1124px) {
        .container {
            max-width: 80vw;
        }
    }
    /* Table components */
    .input-primary{
        @apply bg-transparent w-full rounded-md focus:outline-none focus:ring focus:ring-pink-300 focus:bg-pink-50 focus:-translate-y-1 focus:shadow-lg focus:scale-110 focus:z-50 transition duration-150 ease-in-out;
    }
    .button-primary{
        @apply px-3 py-2 bg-pink-50 focus:outline-none focus:ring focus:ring-pink-300 hover:bg-pink-100 font-semibold text-pink-500 rounded-full;
    }
    .button-violet{
        @apply px-3 py-2 ms-2 bg-violet-50 focus:outline-none focus:ring focus:ring-violet-300 hover:bg-violet-100 font-semibold text-violet-500 rounded-full;
    }
    .button-purple{
        @apply px-3 py-2 ms-2 bg-purple-50 focus:outline-none focus:ring focus:ring-purple-300 hover:bg-purple-100 font-semibold text-purple-500 rounded-full;
    }
    .button-blue{
        @apply px-3 py-2 ms-2 bg-blue-50 focus:outline-none focus:ring focus:ring-blue-300 hover:bg-blue-100 font-semibold text-blue-500 rounded-full;
    }
    .table-header{
        @apply bg-gray-50 border-2 border-gray-200;
    }
    .table-row{
        @apply last:border-b-2 border-x-2 border-gray-200 hover:bg-pink-50 transition duration-150 ease-out;
    }
    .table-row-cell{
        @apply border-r-2 border-gray-200 bg-transparent text-sm text-gray-700; 
    }
    .checkbox-primary{
        @apply w-4 h-4 border-2 border-blue-500 accent-pink-500 text-white border-gray-300 rounded checked:opacity-100 opacity-75;
    }
    .button-circle-icon{
        @apply place-self-center bg-white shadow-sm hover:bg-pink-200 hover:border-pink-500 border-2 rounded-full 
    }
    .menu-item{

    }
    .title-h1{

    }
    .title-h2{

    }   
    .subtitle{

    }
    .text-primary{

    }   
}
.dropdown-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: 2px;
}
/* Style for resizable columns */
.resizable {
    position: relative;
    /* overflow: hidden; */
}

.resizable th, .resizable td {
    position: relative;
}

.resizer {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
    border-right: 4px solid;
    border-color: #f472b500;
}
.resizer:hover, .resizer:active {
    border-right: 4px solid;
    border-color: #f472b6;
}
/* Input number */
/* Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}