# Ignore production files
**/dist/
**/build/
**/backend/
**/release/
# Ignore python cache files and virtual environment
**/input/
**/__pycache__/
**/*.xlsx
**/*.spec
# Ignore node_modules
**/node_modules/
# Ignore environment files
**/.env

